@import "../../../styles/variables.scss";

.navbar {
    margin: 0px 40px;

    &__ul {
        display: flex;
        flex-direction: row;
    }

    a {
        text-decoration: none;
        font-size: 1.2em;
        font-weight: bold;
        color: #fff;
        margin: 0px 14px;

        &:hover {
            color: $terciary;
        }
    }
}
