$primary: #0d253f;
$secondary: #01b4e4;
$terciary: #90cea1;
$green:#00cf37;
$orange:#ff9900;
$red:#fc0000;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
