@import "../../../styles/variables.scss";


.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary;

    &__logo {
        width: 80%;
        margin-bottom: 20px;
    }

    &__title {
        font-size: 3em;
        font-weight: bold;
        color: $terciary;
        margin: 20px 0px;
    }

    &__button {
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        font-size: 1em;
        color: #000;
        padding: 20px;
        background-color: $secondary;
        border-radius: 10px;
        margin: 20px 0px;
    }
}