@import "../../../styles/variables.scss";

.info {

    &__img {
        object-fit: cover;
        height: 480px;
        width: 100%;
    }

    &__data {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1em;

        &__vote {
            font-weight: bold;
            padding: 5px;
            background-color: darken($color: $primary, $amount: 5%);
            border-radius: 5px;
        }

        .green {
            color: $green;
        }

        .orange {
            color: $orange;
        }

        .red {
            color: $red;
        }
    }

    .overview {
        padding: 0.4rem;
        border-radius: 5px;
        background-color: #fff;
        color: darken($color: $primary, $amount: 5%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        text-align: justify;
        overflow: auto;
        max-height: 100%;
        transform: translateY(-100%);
        transition: transform 0.5s ease-in-out;

        h3, p {
            padding-top: 5px;
        }
    }

    &:hover .overview {
        transform: translate(0%);
    }
}
